.clear {
  padding: 0;
  background: none;
  border: none;
  outline: none;
  color: var(--inverted-primary-color);
}

.outline {
  background: none;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 10px 15px;
}
