.app.dark {
  --bg-color: rgb(5 5 20);
  --inverted-bg-color: rgb(174 174 190);
  --primary-color: rgb(199 162 162);
  --secondary-color: white;
  --inverted-primary-color: rgb(56 46 46);
  --inverted-secondary-color: rgb(51 47 47);
}
